<li id="help_bubbles">
  <a class="" id="helpbubbleslink" title="Help! - What does each button do?" onClick="help_bubbles()">
    <span class="buttonicon">?</span>
  </a>
</li>
<li class="separator"></li>
